body {
  text-align: center;
  font-family: Helvetica;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
h4 {
  font-size: 18px
  font-weight: normal;
}
#header {
  background-image: url("../photos/flatiron.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.top a {
  color: white;
}
